.grid-container{
    display: grid;
    grid-template-areas:
    'header header'
    'left right'
    'left right';
}

:root{
    --headerColor: rgb(146, 94, 94);
    --leftColor: rgb(184, 142, 142);
    --rightColor: rgb(212, 174, 174);
}


.header{
    grid-area: header;
    font-size: 25px;
    text-align: center;
    background-color: var(--headerColor);
    height: 30vh;
    width: 97vw;
    padding: 5px;
    border: 10px solid wheat;
    margin: 5px;
}

.left{
    grid-area: left;
    font-size: 35px;
    background-color: var(--leftColor);
    height: 60vh;
    width: 47vw;
    padding: 5px;
    border: 10px solid wheat;
    margin: 5px;
}

.right{
    grid-area: right;
    font-size: 35px;
    background-color: var(--rightColor);
    height: 60vh;
    width: 47vw;
    padding: 5px;
    border: 10px solid wheat;
    margin: 5px;
}

@media only screen and (max-width:600px) {
    .grid-container{
        display: grid;
        grid-template-areas:
        'header header'
        'left left'
        'right right';
    }

    .header{
    font-size: 20px ;
    }
    .left{
        font-size: 25px;
        height: 30vh;
        width: 97vw;
    }
    
    .right{
        font-size: 25px;
        height: 30vh;
        width: 97vw;
    }
}